/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #111018 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c3c5; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c3c5; background-color: rgba(203,181,187,0.4)}
.cm-s-nqqwal { background-color: #111018; color: #c3c3c5; }
.cm-s-nqqwal span.cm-builtin { color: #5D6984; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5f5b6f; }
.cm-s-nqqwal span.cm-keyword { color: #6E748E; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #897F98; }
.cm-s-nqqwal span.cm-def { color: #9C93AB; }
.cm-s-nqqwal span.cm-variable { color: #CBB5BB; }
.cm-s-nqqwal span.cm-variable-2 { color: #9C93AB; }
.cm-s-nqqwal span.cm-string { color: #5D6984; }
.cm-s-nqqwal span.cm-string-2 { color: #5D6984; }
.cm-s-nqqwal span.cm-number { color: #9C93AB; }
.cm-s-nqqwal span.cm-tag { color: #6E748E; }
.cm-s-nqqwal span.cm-property { color: #CBB5BB; }
.cm-s-nqqwal span.cm-attribute { color: #CBB5BB; }
.cm-s-nqqwal span.cm-qualifier { color: #897F98; }
.cm-s-nqqwal span.cm-meta { color: #9C93AB; }
.cm-s-nqqwal span.cm-header { color: #6E748E; }
.cm-s-nqqwal span.cm-operator { color: #6E748E; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(156,147,171,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #6E748E; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #111018); }
