@define-color foreground #c3c3c5;
@define-color background #111018;
@define-color cursor #c3c3c5;

@define-color color0 #111018;
@define-color color1 #445A90;
@define-color color2 #5D6984;
@define-color color3 #6E748E;
@define-color color4 #897F98;
@define-color color5 #9C93AB;
@define-color color6 #CBB5BB;
@define-color color7 #c3c3c5;
@define-color color8 #5f5b6f;
@define-color color9 #445A90;
@define-color color10 #5D6984;
@define-color color11 #6E748E;
@define-color color12 #897F98;
@define-color color13 #9C93AB;
@define-color color14 #CBB5BB;
@define-color color15 #c3c3c5;
